
@model SalesWebMvc19.Models.Seller

@{
    ViewData["Title"] = "Seller Details";
}

<h2>@ViewData["Title"]</h2>


<hr />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(Model => Model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(Model => Model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(Model => Model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(Model => Model.DateBirth)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.DateBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(Model => Model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.Department.Name)
        </dd>

    </dl>
    <form>

        @*asp-route-id="@Model.Id": passa o Id do Model*@
        @*class="btn btn-danger":   Define aparencia de botao*@
        @*asp-action:               Define a view que será aberta*@
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-danger">Edit</a>
        <input type="submit" value="Cancel" asp-action="Index" class="btn btn-primary" />
    </form>
</div>
</div>
